html    
    head 
        title= AparatoAire          
    body 
        form(action="/modo", method="GET")
            label(for="modoAutomatico") Modo
            input(type="text", name="modoAutomatico", placeholder="modoAutomatico", id="modoAutomatico" class="form-control")
            input(type="submit", value="Registrarse")